.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.frame {
  width: 600px;
  height: 600px;
}

.todoInput {
  margin-right: 20px;
  height: 35px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
}

.todoInput:focus {
  outline: #d3d3d3;
}

button {
  padding: 8px 9px;
  background-color: darkblue;
  border: 1px solid darkblue;
  color: white;
  border-radius: 5px;
  margin-right: 40px;
}

.card-1 {
  margin-top: 60px;
}

.card-2 {
  margin-top: 40px;
}

.ClearTodo {
  margin-top: 40px;
}

/* Todo */

.todo {
  display:flex;
  
}

input[type=checkbox]{
  height: 35px;
  width: 250px;
  margin-top:15px;
  width:10%
}

.deleteButton {
  margin-top:15px;
}

h4 {
  width: 60%;
}

.done {
  color:#787878;
  text-decoration: line-through;
}


